div.successMessage {
  font-weight: bold;
  color: green;
  margin-top: 0.5rem;
}

div.successMessage.hidden {
  display: none;
}

div.errorMessage {
  font-weight: bold;
  color: red;
  margin-top: 0.5rem;
}
